{% load static %}


<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- <script src="/static/js/contact.js"></script> -->
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> -->

    <title>Document</title>

</head>
<body>
    <div class="tmpbox">
        tmp
    </div>
    {{latest_question_list}}
    <fieldset id="search_fieldset"> 
        <input id="search_input" type="search" /> 
        <button id="search_button" type="submit"><i class="fa fa-search">submit</i>
        </button> 
    </fieldset>
    <script>
        //http://127.0.0.1:8000/
        $('#search_button').click(function(){ 
            var search_key = $('#search_input').val() 
            $.ajax({ 
                method:'post',
                url:"{% url 'polls:tmp'%}", 
                data : { 'search_key':search_key}, 
                success:function(data){ 
                    $('#data_table').html(data) 
                } 
            }) 
        }) 
    </script>

    <div class="tmpbox">
        <form action="{% url 'polls:tmp' %}" method="post">{% csrf_token %}
            <label for="your_name">Your name: </label>
            <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
            <input type="submit" value="OK">
        </form>
        
    </div>
    
    
</body>
</html>